<div class="card">
  <div class="card-header">
    <h2>New Course</h2>
  </div>
  <div class="card-body">
    <%= render 'form', course: @course %>
  </div>
</div>

<%= link_to 'Back', courses_path %>
